body{
    background-image: url(https://images.hdqwalls.com/download/minimalist-landscape-to-1920x1080.jpg);
    height: 800px;
}

h2{
    text-align: center;
    font-style: italic;
    color: white;
}

label{
 text-align: center;
}

caption{
    text-align: center;
}

th{
    padding: 15px;
    text-align: left;
    border: 2px solid white;
    background-color: thistle;
    font-style: italic;
}

h3{
    text-align: center;
    font-style: italic;
    color: white;
}

table{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: purple;
    color: white;
}

div{
    text-align: center;
    font-weight: bold;
    color: white;
    font-style: italic;
}

input{
    outline-color: red;
    color: blueviolet;
}
